/* --- Section À propos --- */
.about {
  background-color: transparent;
  padding: 10px 20px 60px;
  color: #00ffff;
  font-family: 'Niconne', cursive;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; /* pour que l'image soit à droite */
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-text {
  flex: 1 1 400px;
  font-size: 1.5rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* pour centrer tout le texte */
}

.about-image {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 540px;
  height: 380px;
  border-radius: 50%;
  border: 3px solid #00ffff;
  object-fit: cover;
}


/* Texte du dessous centré */
.about-bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 0px;
}